/* || General styles */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --color-dark-cyan: hsl(185, 75%, 39%);
  --color-very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --color-dark-greyish-blue: hsl(227, 10%, 46%);
  --color-dark-grey: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: #fff url(./images/bg-pattern-top.svg) left top no-repeat,
    url(./images/bg-pattern-bottom.svg) no-repeat right bottom;
}

body {
  min-height: 100vh;
  font-size: 1.125rem;
  /* equals 18px */
  font-family: 'Kumbh Sans', sans-serif;
  background: hsl(185, 75%, 39%);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

h2 {
  font-weight: lighter;
  font-size: small;
  padding-bottom: 0.25rem;
}

ul {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  font-weight: bold;
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  display: flex;
  justify-content: bottom;
  align-items: center;
}

p span {
  font-weight: lighter;
}

.age {
  padding-left: 0.25rem;
  color: lightgray;
}

img {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  border: solid white 4px;
}

hr {
  background-color: gray;
}

/* || Header and Main Navigation */

header {
  border-radius: 15px;
}

.card {
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.user-card__top {
  background-image: url('./images/bg-pattern-card.svg');
  background-repeat: no-repeat;
  padding-top: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.user-card__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.age {
  font-weight: lighter;
}
